<script type="text/javascript">
    var GameConfig = {
      last_move: '{{ last_move }}'
    }
    var csrf_token = "{{ csrf_token() }}";
    var gamename = '{{gamename}}'
</script>

{% if move_result == false %}
    <script type="text/javascript">
        alert("{{ move_error }}");
    </script>
{% endif %}

<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>

<button onclick="show_other_player_move()">Show Move</button>
<button onclick="check_if_someone_won()">Stop Game</button>

<table class="board">
    {% for row in board %}
        {% set outer_loop = loop %}
        <tr>
            {% for piece in row %}
              <td class="board__square" data-x="{{ loop.index0 }}" data-y="{{ outer_loop.index0 }}">
                  {% if piece %}
                      <div class="board__piece board__piece--{{ piece.color }}" data-color="{{ piece.color }}"></div>
                  {% endif %}
              </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
