{% extends "base.html" %}

{% block content %}
    <h1>Game Screen {{ current_user.username }}!</h1>
    <h3>Scores</h3>
    <table class="center">
    <tr>
      <th>User</th>
      <th>Score</th>
    </tr>
    <tr>
      <td ALIGN="center">{{ game.player1_name }}</td>
      <td ALIGN="center" id="p1_score"></td>
    </tr>
    <tr>
      <td ALIGN="center">{{ game.player2_name }}</td>
      <td ALIGN="center" id="p2_score"></td>
    </tr>
    </table>
    <head>
      <meta charset="UTF-8">
      <title>Game</title>
    </head>
{% endblock %}
