{% extends "base.html" %}

{% block content %}
    <body>
    <h1>Hi, {{ current_user.username }}!</h1>
    <hr>
    <h3>Your Stats:</h3>
    <table class="center">
        <tr>
            <th>Wins</th>
            <th>Losses</th>
            <th>Ties</th>
        </tr>
        <tr>
            <td ALIGN="center">{{ user.win }}</td>
            <td ALIGN="center">{{ user.loss }}</td>
            <td ALIGN="center">{{ user.ties }}</td>
        </tr>
    </table>
    <br>
    <h3>Global Stats:</h3>
    <table class="center">
        <tr>
            <th>User</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Draws</th>
        </tr>
        {% for user in users %}
            <tr>
                <td ALIGN="center">{{ user.username }}</td>
                <td ALIGN="center">{{ user.win }}</td>
                <td ALIGN="center">{{ user.loss }}</td>
                <td ALIGN="center">{{ user.draw }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <h3>Join a pre-existing Game:</h3>
    <header>
      <a href="{{ url_for("games") }}">
        <button class="button" style="cursor:pointer">Join a game</button>
      </a>
    </header>

    <form action={{ url_for("create_game") }} method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div>
            <h3>Create a Game:</h3>
            <label>Game Name</label>
            <input type="text" id="gamename" name="gamename" placeholder="Enter the name" required>
        </div>
        <button type="submit" style="cursor:pointer">Create a game</button>
    </form>

    <h3>Show Completed Games:</h3>
    <header>
      <a href="{{ url_for("completed_games") }}">
        <button class="button" style="cursor:pointer">Show completed games</button>
      </a>
    </header>
    </body>
{% endblock %}
